
body { padding-top:60px;
       padding-bottom: 45px;
       padding-left: 75px;
       padding-right: 85px;
      }
.form-control { margin-bottom: 10px; }

  body{
      background-image: url('sig.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      font-family: 'Numans', sans-serif;
      position: relative;
      height: 1000px;
      z-index: 2;

  }
  form{
      text-align: center;
      background-image: url('juu.jpg')
  }
  

 